<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="profile.component.css">
</head>

    <div *ngIf = "loaded == true" class="grid-container">
        <div class="item-image">
                <div id="profile_image">
                    <img *ngIf = "editingPicture == false" class = "img-style" onerror="this.onerror=null; this.src='./../../../assets/Images/profile_image.png';" src = "{{imageURL}}">
                    <div class="imageEditing-container"  *ngIf = "this.editingPicture == true">
                        <uploader path="pictures/profilepictures" currentGameUID="{{currentUser.uid}}" style="padding: 10px; cursor: pointer;"></uploader>
                        <div class="centerImageEditing">            
                            <input id="URL" class="imageEditingItem2" value="{{imageURL}}">
                            <div class="buttonsEditImage">
                                <div class="btn button" style="background-color: red;" (click)="abortPictureEdit();">Abbrechen</div>
                                <div class="btn button" style="background-color: green;" (click)="pictureEdited()">Bestätigen</div>
                            </div>
                        </div>
                    </div>
                    <div (click)="editingPicture=true" *ngIf = "editingPicture == false" style="text-align: center; cursor: pointer;">
                        <span>Profilbild ändern   </span>
                        <img class ="img-symbol-style" src = "./../../../assets/Images/pencil.png" >
                    </div>
                </div> 
        </div>
                                
        <div class="item-profile_data">
            <div class="content_style">
                    <p class="first"><span style="font-weight: bold">Vorname:   </span> {{currentUser.firstname}}</p>
                    <p><span style="font-weight: bold">Nachname:   </span> {{currentUser.lastname}}</p>
                    <p><span style="font-weight: bold">Benutzername:   </span> {{currentUser.username}}</p>
                    <!--<p><span style="font-weight: bold">Schule:   </span>Lieblingsschule</p>
                    <p><span style="font-weight: bold">Lehrerin:   </span>Frau Schlau</p>
                    <p><span style="font-weight: bold">Rolle:   </span> {{accountTyp}}</p>-->
                    <p><span style="font-weight: bold">Passwort: </span> ******   <img style="cursor: pointer; margin-left: 10px;"(click)="router.navigate(['profile/change-password']);" class ="img-symbol-style" src = "./../../../assets/Images/pencil.png"></p> 
                    <!--<button style="margin-top: 20px;" (click)="changePassword();" class = "btn login-button-style">Mein Passwort ändern</button>-->
                </div>
        </div>

         <div class="item-symbols_edit">
                    <p class="first_symbol"><span style="color: #ffffff00;">placeholder</span></p>
                    <p class="symbol"><span style="color: #ffffff00;">placeholder</span></p>
                    <p class="symbol"><span style="color: #ffffff00;">placeholder</span></p>
                    <p class="symbol"><span style="color: #ffffff00;">placeholder</span></p>
        </div>


        
    </div>

   

    

