.item-image{
    grid-area: image;
    margin-bottom: 50px;
}

.item-profile_data{
    grid-area: profile_data;
    margin-bottom: 50px;
}

.item-symbols_edit{
    grid-area: symbols_edit;
    margin-bottom: 50%
}

.grid-container{
    display: grid;
    width: 100;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas:
    ". image image ."
    ". profile_data profile_data symbols_edit";
  }

.content_style {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center left;
}

p.first{
    border-top-style: solid;
    border-width: thin;
    border-color: black;
    padding-top: 20px;
    margin: 0 auto;
    display: block;
}

p{
    border-bottom-style: solid;
    border-width: thin;
    border-color: black;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0 auto;
    display: block;
}

p.first_symbol{
    border-top-style: solid;
    border-width: thin;
    border-color: black;
    padding-top: 20px;
    margin-top: 190px;
    margin: 0 auto;
    text-align: left;
    display: block;
    margin-left: -20%;
    width: 25%;
}

p.symbol{
    border-bottom-style: solid;
    border-width: thin;
    border-color: black;
    margin: 0 auto;
    padding: 0 auto;
    text-align: left;
    margin-left: -20%;
    width: 25%;
}

.img-style {
    width: 100%;
    height: 100%;
    margin: 20px auto;
    min-height: 50px;
    text-align: center;
    display: block;
    max-width: 500px;
    max-height: 500px;
    border-radius: 500px;
    filter: drop-shadow(7px 7px 4px rgba(0,0,0,0.5));
}

.img-symbol-style{
    max-height: 18px;
    text-align: left;
}

.login-button-style {
    display: block;
    border-radius: 23px;
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.25));
    background-color: #40d04f;
    margin: 0 auto;
}

.imageEditing-container {
    display:flex; 
    height: 100%; 
    width: 100%; 
    min-width: 60%;
    min-height: 100px; 
    align-items: center;
    flex-direction: column;
  }

  .centerImageEditing {
    display:inline-block; 
    margin: auto; 
    width: 100%; 
    vertical-align: middle;
  }

  .imageEditingItem2 {
    width: 90%; 
    vertical-align: middle;
  }

  .buttonsEditImage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0px;
  }

  .button {
    font-weight: 800;
  }
  