<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="profile.component.css">
</head>

    <div class="grid-container">
        <div>
		    <h2>Profilübersicht</h2>
        </div>
        <div class="item-image">
                <div id="profile_image">
                    <img class = "img-style" src = "./../../../assets/Images/profile_image.png">
                    <div style="text-align: center;">
                        <span>Profilbild ändern   </span>
                        <img class ="img-symbol-style" src = "./../../../assets/Images/pencil.png">
                    </div>
                </div> 
        </div>
                                
        <div class="item-profile_data">
            <div class="content_style">
                    <p class="first"><span style="font-weight: bold">Vorname:   </span> {{currentUser.firstname}}</p>
                    <p><span style="font-weight: bold">Nachname:   </span> {{currentUser.lastname}}</p>
                    <p><span style="font-weight: bold">Benutzername:   </span> {{currentUser.username}}</p>
                    <p><span style="font-weight: bold">Schule:   </span>Lieblingsschule</p>
                    <p><span style="font-weight: bold">LehrerIn:   </span>Frau Schlau</p>
                    <p><span style="font-weight: bold">PhotoID:   </span> {{currentUser.photoID}}</p>
                    <p><span style="font-weight: bold">Rolle:   </span> {{accountTyp}}</p>
                    <p><span style="font-weight: bold">Sprachausgabe:</span></p>
                </div>
        </div>

         <div class="item-symbols_edit">
                    <p class="first_symbol"><img class ="img-symbol-style" src = "./../../../assets/Images/pencil.png"></p>
                    <p class="symbol"><img class ="img-symbol-style" src = "./../../../assets/Images/pencil.png"></p>
                    <p class="symbol"><img class ="img-symbol-style" src = "./../../../assets/Images/pencil.png"></p>
                    <p class="symbol"><span style="color: #ffffff00;">placeholder</span></p>
                    <p class="symbol"><span style="color: #ffffff00;">placeholder</span></p>
                    <p class="symbol"><span style="color: #ffffff00;">placeholder</span></p>
                    <p class="symbol"><span style="color: #ffffff00;">placeholder</span></p>
                    <p class="symbol"><img style="max-height: 40px; margin: -30%" src = "./../../../assets/Images/volume_button.PNG"></p>
        </div>
    </div>

    

   

    

