/* You can add global styles to this file, and also import other style files */

html, body {
    /* background-color: #F5F4F4; */
    height: 100%; 
    margin: 0px; 
    padding: 0px;   
    font-family: 'Schulschrift'; 

      /* Location of the image */
    background: url(./assets/Images/Background/bg-red-left-top.svg) left top no-repeat, url(./assets/Images/Background/bg-blue-right-bottom.svg) right bottom no-repeat, url(./assets/Images/Background/bg-green-right-top.svg) right top no-repeat, url(./assets/Images/Background/bg-yellow-left-bottom.svg) left bottom no-repeat;
    
    /* background:  url(./assets/Images/Background/bg-red-left-top.svg) left top no-repeat, url(./assets/Images/Background/bg-yellow-left-bottom.svg) left bottom no-repeat; */
    background-attachment: fixed;
    /* background-color: #F5F4F4; */
    background-color: white;
    background-size: contain;
    
    
/* 
 url(./assets/Images/Background/bg-red-left-top.svg) left top no-repeat,
 url(./assets/Images/Background/Background-color.svg) left top repeat


*/
}

#full {
    height: 100%;
}

@font-face{
    font-family: Schulschrift;
    src: url('./assets/Fonts/DURCKSCHRIFT.ttf'); 
    /*src: url('./assets/Fonts/DRUCKSCHRIFT_BOLD.ttf'); */
    /*src: url('./assets/Fonts/Schulschrift.ttf'); */
    /*src: url('./assets/Fonts/Schulschrift_alternatives_r.ttf'); */
}

* {
    font-family: 'Schulschrift'
}

.flex-center-row {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-center-column {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader-small {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #404FD0;
    border-right: 8px solid #E5E926;
    border-bottom: 8px solid #D04040;
    border-left: 8px solid #40D04F;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }

.loader-big {
    border: 12px solid #f3f3f3; 
    border-top: 12px solid #404FD0;
    border-right: 12px solid #E5E926;
    border-bottom: 12px solid #D04040;
    border-left: 12px solid #40D04F;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }