/* You can add global styles to this file, and also import other style files */

html, body {
    background-color: #F5F4F4;
    height: 100%; 
    margin: 0px; 
    padding: 0px;   
    font-family: 'Schulschrift'; 

      /* Location of the image */
    background: url(./assets/Images/Background/bg-red-left-top.svg) left top no-repeat, url(./assets/Images/Background/bg-blue-right-bottom.svg) right bottom no-repeat, url(./assets/Images/Background/bg-green-right-top.svg) right top no-repeat, url(./assets/Images/Background/bg-yellow-left-bottom.svg) left bottom no-repeat;
    
    /* background:  url(./assets/Images/Background/bg-red-left-top.svg) left top no-repeat, url(./assets/Images/Background/bg-yellow-left-bottom.svg) left bottom no-repeat; */
    background-attachment: fixed;
    background-color: #F5F4F4;
    background-size: contain;
    
    
/* 
 url(./assets/Images/Background/bg-red-left-top.svg) left top no-repeat,
 url(./assets/Images/Background/Background-color.svg) left top repeat


*/
}

#full {
    height: 100%;
}

@font-face{
    font-family: Schulschrift;
    src: url('./assets/Fonts/DURCKSCHRIFT.ttf'); 
    /*src: url('./assets/Fonts/DRUCKSCHRIFT_BOLD.ttf'); */
    /*src: url('./assets/Fonts/Schulschrift.ttf'); */
    /*src: url('./assets/Fonts/Schulschrift_alternatives_r.ttf'); */
}

* {
    font-family: 'Schulschrift'
}
