/* You can add global styles to this file, and also import other style files */

html, body {
    background-color: #F5F4F4;
    height: 100%; 
    margin: 0px; 
    padding: 0px;   
    font-family: 'Schulschrift'; 

      /* Location of the image */
  background-image: url(./assets/Images/hintergrund.svg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #F5F4F4;
}

#full {
    height: 100%;
}

@font-face{
    font-family: Schulschrift;
    src: url('./assets/Fonts/DURCKSCHRIFT.ttf'); 
    /*src: url('./assets/Fonts/DRUCKSCHRIFT_BOLD.ttf'); */
    /*src: url('./assets/Fonts/Schulschrift.ttf'); */
    /*src: url('./assets/Fonts/Schulschrift_alternatives_r.ttf'); */
}

* {
    font-family: 'Schulschrift'
}
