.example-box {
  padding: 20px 10px;
  border: 0px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: larger;
  min-height: 63px;
}

/* .example-container_question {
  width: 20%;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  min-width: 100px;
  border-color: grey;
} */

.example-container {
  margin: 0 0px 0px 0;
  display: inline-block;
  vertical-align: top;
  min-width: 100px;
  width: 60%;
  max-width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  opacity: 0.5; /* Firefox */
}

.example-list {
  /* border-bottom: solid 1px #ccc; */
  min-height: 63px;
  background: white;
  border-radius: 4px 4px 0px 0px;
  overflow: hidden;
  display: block;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black; /* Black background with opacity */
  opacity: 0.5;
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
  cursor: default; /* Add a pointer on hover */
}

.superOverlay {
  position: fixed; /* Sit on top of the page content */
  display: flex; /* Hidden by default */
  width: 30%; /* Full width (cover the whole page) */
  background-color: white; /* Black background with opacity */
  z-index: 4; /* Specify a stack order in case you're using a different order for other elements */
  cursor: default; /* Add a pointer on hover */
  border-radius: 15px; 
}

.fullscreen {
    position: fixed; /* Sit on top of the page content */
    display: flex; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: default; /* Add a pointer on hover */
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.content {
  width: 80%;
  display: block;
  margin: 0 auto;
  padding: 20px 0px;
  min-width: 280px;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px 0px;
}

.centered-flex-column {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.question {
  border-color: lightgray;
  border-radius: 4px;
  border-style: solid;
  margin: 0px 0px 20px -20px;
  font-size: larger;
  text-align: center;
}

.gameValues {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.actionBar {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.action-bar-styling {
  display: flex; 
  padding-top: 0; 
  justify-content: center; 
  align-items: center;
  width: 25%
}

.svgs-in-actionbar {
  width: 5%; 
  min-width: 50px; 
  min-height: 50px;
}

.recordButton {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #ff7267;    
}

.record-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin-top: 20px;
}

.audioEditingContainer {
  width: 100%
}

.textForAudio {
  padding-right: 20px;
  min-width: 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  overflow-wrap: break-word;
  font-size: 120%;
  width: 45%;    
}

.editAudioInteraction {
  min-width: 55%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.spacingBetweenButtonAndTimer {
  width: 10px
}