.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

p {
font-family: "Comic Sans MS", cursive, sans-serif;
}

.button-vertical-center {
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.login-button-style {
    display: block;
    border-radius: 23px;
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.25));
    background-color: #40d04f;
    margin: 0 auto;
}

.response {
    margin: 0 auto;
    padding: 10px 20px 10px 20px; 
    border-radius: 100px;
}

div {
    display: block
}
