<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="login-page.component.css">
</head>
<body>
	
<div class="content">
	<div style=" margin-bottom: 5px">
		<!-- <img src= "https://firebasestorage.googleapis.com/v0/b/kids-8b916.appspot.com/o/pictures%2Flogos%2Flogo.png?alt=media&token=0b74a7a3-9a19-455b-ba0f-239c8d19a75c" alt = "Logo" class = "center">
		--><img src= "./../../../assets/Images/Logo-derdiedaz.png" alt = "Der Die Daz." class = "center">
	</div>
	<div style = "margin-bottom: 50px">
		<p style = "text-align: center">Die Lernunterstützung für Kinder mit Deutsch als Zweitsprache</p>
	</div>
	<div class="d-flex justify-content-center h-100">
		<div>
			
			<div>
				<form [formGroup]="loginform" (ngSubmit) = "onSubmit()">
					<div style= "margin-bottom: 35px">
						<input type="text" class="form-control" placeholder="Benutzername" name = "username" formControlName ="username">
					</div>
					<div style = "margin-bottom: 35px">
						<input type="password" class="form-control" placeholder="Passwort" name = "password" formControlName ="password">
					</div>

					<div style="display: table; ">
						<div *ngIf = "error === true" class="alert alert-danger response" role="alert" style="margin-bottom: 35px;">
							{{errorMessage}}
						</div>
					</div>
					
					<div>
						<input type="submit" value="Los geht's!" class="btn login-button-style center">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>