.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
    width: 80%; 
    height: 100%; 
    min-width: 260px; 
    max-height: 350px; 
    min-height: 100px
}
.dropzone.hovering {
    border: 2px solid #f16624;
    color: #dadada !important;
}
.dropzone .file-label {
    font-size: 1.2em;
}
progress::-webkit-progress-value {
    transition: width 0.1s ease;
} 

.chooseAFile {
    font-weight: bolder;
}
.chooseAFile.hovering {
    color: blue
}


