.item-question {
    grid-area: question;
    }
.item-image {
    display: block; 
    width: 100%;
    }
.item-ans1 {
    grid-area: ans1;
    }
.item-ans2 {
    grid-area: ans2;
    }
.item-ans3 {
    grid-area: ans3;
    margin-top: -40px;
    padding-bottom: -40px;
    margin-bottom: 0px;
    }
.item-ans4 {
    grid-area: ans4;
    margin-top: -40px;
    padding-bottom: -40px;
    margin-bottom: 0px;
    }



.item-nextQuestion {
    grid-area: next;
}

.item-final {
    grid-area: final;
}
.item-left {
    grid-area: left-arrow;
    /* min-width: 50px;
    width: 50px;
    background-color: green; */
}
.item-right {
    grid-area: right-arrow;
    /* min-width: 50px;
    width: 50px;
    background-color: red; */
}

.item-actionBar1 {
    grid-area: actionBar1;
    margin-top: -150px;
}

.item-actionBar2 {
    grid-area: actionBar2;
    margin-top: -130px;
}

.item-mid {
    display: flex;
    align-items: center;
    width: 100%;
    grid-area: mid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto;
    grid-template-areas: "left-arrow image right-arrow"; 
}

.container {
    display: grid;
    width: 100%;
    height: 80%;
    margin: 1% auto;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: auto;
    grid-template-areas:  
        ". question question . "
        "mid mid mid mid"
        ". ans1 ans2 ."
        ". ans3 ans4 ."
        ". final final ."
        ". actionBar1 actionBar1 ."
        ". actionBar2 actionBar2 ."
    }

.button-style {
    display: block;
    background-color: #ffffff;
    border-radius: 10px;
    width: 90%;
    height: 50%;
    margin: 10px auto;
    min-height: 50px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    font-size:calc(15px + 1vw);
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    border-width: 5px;
    border-style: solid;
}



.img-style {
    max-width: 50%;
    max-height: 50%;
	margin: 30px auto;
    text-align: center;
	min-width: 280px
}

.image {
	width: 60%; 
	height: 60%;
	border-radius: 15px;
	/* border: 20px solid white; */
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: -50px;
}

.question {
    overflow-wrap: break-word;
    font-size: 200%;
    text-align: center;  
    width: 100%;    
}
.imageEditing-container {
    display:flex; 
    height: 100%; 
    width: 100%; 
    min-width: 60%;
    min-height: 100px; 
    align-items: center;
    flex-direction: column;
}

.centerImageEditing {
    display:inline-block; 
    margin: auto; 
    width: 100%; 
    vertical-align: middle;
}

.imageEditingItem1 {    
    padding-top: 5px;
    padding-right: 5px; 
    vertical-align: middle;
}

.imageEditingItem2 {
    width: 90%; 
    vertical-align: middle;
}

.imageEditingItem3 {
    height: 35px; 
    padding-left: 5%
}

.placeholder {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./../../../../assets/Images/Logo-derdiedaz.png');
}

.arrow {
    display: inline-block;
    padding: 10% 0px 10% 0px;
    width: 50px;  
    opacity: 0.6;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black; /* Black background with opacity */
    opacity: 0.5;
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
    cursor: default; /* Add a pointer on hover */
  }

  .dropshadow {
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.25));
}
  .superOverlay {
    position: fixed; /* Sit on top of the page content */
    display: flex; /* Hidden by default */
    width: 30%; /* Full width (cover the whole page) */
    background-color: white; /* Black background with opacity */
    z-index: 4; /* Specify a stack order in case you're using a different order for other elements */
    cursor: default; /* Add a pointer on hover */
    border-radius: 15px; 
  }

  .content {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 20px 0px;
    min-width: 280px;
}

.fullscreen {
    position: fixed; /* Sit on top of the page content */
    display: flex; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: default; /* Add a pointer on hover */
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.buttonsEditImage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0px;
}

.button {
    font-weight: 800;
}
.recordButton {
    width: 36px;
    height: 36px;
    border-radius: 100px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #ff7267;
    
}

.record-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    margin-top: 20px;
}
.audioEditingContainer {
    width: 100%
}



.textForAudio {
    padding-right: 20px;
    min-width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    overflow-wrap: break-word;
    font-size: 120%;
    width: 45%;    
}

.editAudioInteraction {
    min-width: 55%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

/* audio::-webkit-media-controls-panel {

    background-color: white;
} */

.spacingBetweenButtonAndTimer {
    width: 10px
}

.spinner {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.action-bar-styling {
    display: flex; 
    padding-top: 0; 
    justify-content: center; 
    align-items: center;
}

.svgs-in-actionbar {
    width: 5%; 
    min-width: 50px; 
    min-height: 50px;
}