.icon{
    height:20px; 
    width: 20px; 
    opacity:0.5;
    
}

.circle-green {
    display: block;
    width: 20rem;
    height: 20rem;
    background-size: 20rem 20rem;

}

.mode{
    
    height:24px; 
    width: 24px; 
    opacity:1;    
}
