<div>
    <div style= "display: flex; justify-content: center; padding-top: 100px">
        <h4>Passwort ändern</h4>
    </div>

    <div style= "display: flex; justify-content: center; padding-top: 50px">

        <form [formGroup]="passwordChangeForm" (ngSubmit) = "onSubmit()">
            <div style= "margin-bottom: 35px">
                <input type="password" class="form-control" placeholder="Altes Passwort" name = "oldPassword" formControlName ="oldPassword">
            </div>
            <div style = "margin-bottom: 35px">
                <input type="password" class="form-control" placeholder="Neues Passwort" name = "newPassword" formControlName ="newPassword">
            </div>

            <div style= "margin-bottom: 35px">
                <input type="password" class="form-control" placeholder="Passwort bestätigen" name = "newPasswordConfirm" formControlName ="newPasswordConfirm">
            </div>

            <div style = "display: flex; justify-content: center; padding-top: 20px">
                <div *ngIf = "error === true" class="alert alert-danger response" role="alert" style="margin-bottom: 35px;">
                    {{errorMessage}}
                </div>
                <div *ngIf = "error === false" class="alert alert-success response" role="alert" style="margin-bottom: 35px;">
                    {{errorMessage}}
                </div>
            </div>
            
            <div style = "display: flex; justify-content: center; padding-top: 30px;">
                <button class = "btn login-button-style center" style="background-color: lightgrey" (click) = "router.navigate(['profile'])">Zurück</button>
                <input type="submit" value="Passwort ändern" class="btn login-button-style center bg-primary" style="color: white" >
            </div>
        </form>
    </div>


</div>

