<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="login-page.component.css">
</head>
<body>
<div class="content">
	<div class="d-flex justify-content-center h-100">
		<div>
			<div style=" margin-bottom: 5px">
				<img src= "../../../assets/Images/logo.png" alt = "Logo" class = "center">
			</div>
			<div style = "margin-bottom: 50px">
				<p style = "text-align: center">Die Lernunterstütztung für Kinder mit Deutsch als Zweitsprache</p>
			</div>
			<div>
				<form>
					<div style= "margin-bottom: 35px">
						<input type="text" class="form-control" placeholder="Benutzername">
					</div>
					<div style = "margin-bottom: 35px">
						<input type="password" class="form-control" placeholder="Passwort">
					</div>
					
					<div>
						<input type="submit" value="Los geht's" class="btn float-right login_btn login-button-style">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>