<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="login-page.component.css">
</head>
<body>
<div class="content">
	<div class="d-flex justify-content-center h-100">
		<div>
			<div style = "margin-bottom: 50px">
				<h3 style = "text-align: center">Willkommen bei 4Kids</h3>
				<h4 style = "text-align: center">(Hier noch das Logo einfügen)</h4>
			</div>
			<div>
				<form>
					<div style= "margin-bottom: 50px">
						<input type="text" class="form-control" placeholder="Schülerkennzahl">
					</div>
					<div>
						<input type="password" class="form-control" placeholder="Passwort">
					</div>
					
					<div>
						<input type="submit" value="Los Gehts" class="btn float-right login_btn">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>