.content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.button-vertical-center {
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.response {
    margin: 0 auto;
    padding: 10px 20px 10px 20px; 
    border-radius: 100px;
}

div {
    display: block
}

.login-button-style {
    display: block;
    border-radius: 23px;
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.25));
    background-color: #40d04f;
    margin: 0 auto;
}

textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

.bugreport-list {
    display: flex;
    text-align: left;
    width: 100%;
    flex-direction: column;

}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}