li {
    margin-top: 30px;
    background-color: #ffffff;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

div {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
}

.colouring-0 {
    background-color: #D04040;
}

.colouring-1 {
    background-color: #E5E926;
}

.colouring-2 {
    background-color: #404FD0;
}

.colouring-3 {
    background-color: #40D04F;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    text-align:left
  }

.navigationBar {
    display: block;
    width:40%;
    margin: 0 auto;
    background-color: transparent;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black; /* Black background with opacity */
    opacity: 0.5;
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
    cursor: default; /* Add a pointer on hover */
  }

  .superOverlay {
    position: fixed; /* Sit on top of the page content */
    display: flex; /* Hidden by default */
    width: 30%; /* Full width (cover the whole page) */
    background-color: white; /* Black background with opacity */
    z-index: 4; /* Specify a stack order in case you're using a different order for other elements */
    cursor: default; /* Add a pointer on hover */
  }

.fullscreen {
    position: fixed; /* Sit on top of the page content */
    display: flex; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: default; /* Add a pointer on hover */
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.content {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 20px 0px;
}

.submit-button {
    display: block;
    margin: 0 auto;
    width: 40%;
    min-width: 200px;
    border-radius: 23px;
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.25));
    background-color: #40d04f;
}