.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    font-size: 14px;
    min-height: 63px;
  }
  
  .example-container_question {
    width: 20%;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    min-width: 40%;
  }

  .question {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .example-container_person {
    width: 5%;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    min-width: 100px;
  }
  
  .example-container_values{
    width: 20%;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    min-width: 100px;
  }
  
  .example-list {
    border-bottom: solid 1px #ccc;
    min-height: 63px;
    background: white;
    /* border-radius: 4px; */
    overflow: hidden;
    display: block;
  }
  
  .overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black; /* Black background with opacity */
    opacity: 0.5;
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
    cursor: default; /* Add a pointer on hover */
  }
  
  .superOverlay {
    position: fixed; /* Sit on top of the page content */
    display: flex; /* Hidden by default */
    width: 30%; /* Full width (cover the whole page) */
    background-color: white; /* Black background with opacity */
    z-index: 4; /* Specify a stack order in case you're using a different order for other elements */
    cursor: default; /* Add a pointer on hover */
  }
  
  .fullscreen {
      position: fixed; /* Sit on top of the page content */
      display: flex; /* Hidden by default */
      width: 100%; /* Full width (cover the whole page) */
      height: 100%; /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
      cursor: default; /* Add a pointer on hover */
      align-content: center;
      align-items: center;
      justify-content: center;
      justify-items: center;
  }
  
  .pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    padding: 20px 0px;
  }
  
  .gameValues {
    display:flex;
    flex-direction: row;
    margin:0 auto;
    display:block;
    justify-content: center;
  }
  
  .actionBar {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  
.img-style {
  max-width: 50%;
  max-height: 50%;
margin: 60px auto;
  text-align: center;
min-width: 280px
}

.image {
	width: 80%; 
	height: 80%;
	border-radius: 15px;
	border: 20px solid white;
	filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.imageEditing-container {
  display:flex; 
  height: 100%; 
  width: 100%; 
  min-width: 60%;
  min-height: 100px; 
  align-items: center;
  flex-direction: column;
}

.centerImageEditing {
  display:inline-block; 
  margin: auto; 
  width: 100%; 
  vertical-align: middle;
}

.imageEditingItem1 {    
  padding-top: 5px;
  padding-right: 5px; 
  vertical-align: middle;
}

.imageEditingItem2 {
  width: 90%; 
  vertical-align: middle;
}

.imageEditingItem3 {
  height: 35px; 
  padding-left: 5%
}

.buttonsEditImage {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0px;
}

.button {
  font-weight: 800;
}